body {
  background-color: #e7fbf6;
}

.document-header {
  margin: 120px 0px;
  text-align: center;
}

.people {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.person {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 30px;
}

.person img {
  width: 100%;
}

.title {
  color: rgb(116, 60, 20);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(116, 60, 20);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .people {
    grid-template-columns: 1fr;
  }
}
